# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code and other IDEs
.vscode/
.idea/
